@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using GamePortal.Infrastructure.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">GamePortal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="games">
                <span class="oi oi-star" aria-hidden="true"></span> Games
            </NavLink>
        </li>
        @if (isAuthenticated && isAdmin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-cog" aria-hidden="true"></span> Admin
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            @if (isAuthenticated)
            {
                <div class="nav-link">
                    <span class="oi oi-person" aria-hidden="true"></span> @userName
                </div>
                <a class="nav-link" href="/logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </a>
            }
            else
            {
                <NavLink class="nav-link" href="/login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            }
        </li>
    </ul>
</div>

@implements IDisposable
@code {
    private bool collapseNavMenu = true;
    private bool isAuthenticated = false;
    private bool isAdmin = false;
    private string userName = "Guest";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CheckAuthStatus();
        if (AuthenticationStateProvider is AuthenticationStateProvider asp)
        {
            asp.AuthenticationStateChanged += OnAuthenticationStateChanged;
        }
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        await CheckAuthStatus();
        StateHasChanged();
    }

    private async Task CheckAuthStatus()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;

        if (isAuthenticated)
        {
            var user = await UserManager.GetUserAsync(authState.User);
            userName = user?.FullName ?? user?.UserName ?? "User";
            isAdmin = authState.User.IsInRole("Admin");
        }
    }

    public void Dispose()
    {
        if (AuthenticationStateProvider is AuthenticationStateProvider asp)
        {
            asp.AuthenticationStateChanged -= OnAuthenticationStateChanged;
        }
    }
}
